.App {
  text-align: center;
}

.ui.main.container {
  margin-top: 3em;
  margin-bottom: 7em;
}

h1{
  font-size: 35px;
}

:root {
  --mainFont: "Poppins", sans-serif !important;
  --mainBgColor: #e6e6e680 !important;
  --primaryColor: #2e4260 !important;
}

body {
  font-family: var(--mainFont);
  background: var(--mainBgColor);
  height: 100vh;
  text-shadow: 0 0 1px black;
}

/* 
responsive
----------
*/
@media only screen and (max-width: 991px) {
  .pricingBlock .ant-row > div:nth-child(2) .ant-list-item {
    transform: scale(1.14);
  }
}

@media only screen and (max-width: 767px) {
  .pricingBlock .ant-row > div:nth-child(2) .ant-list-item {
    transform: scale(1);
  }

  .mobileVisible {
    display: block;
  }
  
  .mobileHidden {
    display: none;
  }
}